body {
	background-image: url("../img/sfondo.png");
	background-repeat: repeat-y;
	background-size: 100% auto;
	min-height: 100%;
	font-family: 'Roboto', sans-serif;
	display: grid;
	place-items: center;
}

/*
 * SCREEN SIZES
 */

.desktop {}

.mobile {
	display: none;
}

/*
 * HOME PAGE
 */

/*
 * navigation
 */

nav {
	border: 3px solid #ef7c59;
	border-radius:25px;
	background-color: rgba(255, 175, 143, 0.95);
	z-index: 1000;
	position: fixed;
	top: 2rem;
	margin: 0 auto;
	padding: 0 2rem 0 0;
	transition: top 0.3s;
}

.navbar-hidden {
	border: 3px solid #ef7c59;
	border-radius:25px;
	background-color: rgba(255, 175, 143, 0.95);
	z-index: 1000;
	position: fixed;
	top: -7rem;
	margin: 0 auto;
	padding: 0 2rem 0 0;
	transition: top 0.3s;
}

/*
 *
 */

.paragrafo {
	margin-top: 8rem;
	width: 70%;
	border: 3px solid #ef7c59;
	border-radius:25px;
	padding: 2rem;
	margin-bottom: 2rem;
	background-color: rgba(255, 175, 143, 0.95);
}
