html { background: #ff8c69; }

html { height: 100%; }

body {
	background-image: url("../img/sfondo.png");
	background-repeat: repeat-y;
	background-size: 100% auto;
	height: 100%;
	display: flex;
    justify-content: center;	
	font-family: 'Roboto', sans-serif;
}

/*
 * SCREEN SIZES
 */

.desktop {
	display: none;
}

.mobile {
	display: block;
}

/*
 * HOME PAGE
 */

.homepage-h1 {
	text-align: center;
}

.homepage-content {
	text-align: center;
}

.homepage-links {
	list-style-type: none;
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 3rem;
}

.homepage-video {
	width: 30%;
	padding: 0 34% 0 34%;
}

/*
 * NAVIGATION
 */

nav {
	border: 3px solid #ef7c59;
	border-radius:25px;
	background-color: rgba(255, 175, 143, 0.95);
	z-index: 1000;
	position: fixed;
	bottom: 2rem;
	margin: 0 auto;
	padding: 0 2rem 0 0;
}

nav ul {
	list-style-type: none;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
}

nav ul li {
	display: inline;
	font-size: 1.2rem;
	decoration: none;
}

nav ul li a {
	border-radius: 25px;
	padding: 1rem;
}

nav ul li a:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.previous-page, .next-page {
	text-decoration: none;
}

/*
 *
 */

h1 {
	font-size: 2.5rem;
	font-weight: bold;
	text-indent: 1rem;
}

h2 {
	font-size: 2rem;
	font-weight: bold;
	text-indent: 1rem;
}

.paragrafo {
	width: 100%;
	border-radius:25px;
	padding-top: 2px;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 2rem;
	background-color: rgba(255, 175, 143, 0.95);
}

.content-links {
	list-style-type: none;
	font-size: 1rem;
	line-height: 2.5rem;
}

