html { background: #ff8c69; }

html { height: 100%; }

/*
 * HOME PAGE
 */

.homepage-h1 {
	text-align: center;
}

.homepage-content {
	text-align: center;
}

.homepage-links {
	list-style-type: none;
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 3rem;
}

.homepage-video {
	width: 30%;
	margin: 10px; /* Adjust the margin size as needed */
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 25px;
	border: 3px solid #ef7c59;
}

/*
 * navigation
 */

nav ul {
	list-style-type: none;
	font-weight: bold;
	text-decoration: none;
	display: flex;
	flex-grow: 1;
	flex-direction: row;
}

nav ul li {
	font-size: 1.2rem;
	decoration: none;
}

nav ul li a {
	border-radius: 25px;
	padding: 1rem;
}

nav ul li a:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.previous-page, .next-page {
	text-decoration: none;
}

/*
 *
 */

h1 {
	font-size: 2.5rem;
	font-weight: bold;
	text-indent: 1rem;
}

h2 {
	font-size: 2rem;
	font-weight: bold;
	text-indent: 1rem;
}

h3 {
	font-size: 1.2rem;
	font-weight: bold;
	text-indent: 1rem;
}

p {
	line-height: 1.5rem;
}

.content-links {
	list-style-type: none;
	font-size: 1rem;
	line-height: 2.5rem;
}

.diary-entry {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

hr {
  border: none; /* Rimuovi il bordo predefinito */
  height: 0.1rem; /* Imposta l'altezza della linea */
  background-color: #333; /* Colore di sfondo della linea */
  margin: 2rem 2rem; /* Spazio sopra e sotto la linea */
}
