---
layout: default-bis
---

<h2>{{ page.title }}</h2>
{{ content }}

<br>
{% if page.previous.url %}
  <a class="page-link" href="{{ page.previous.url | relative_url }}"
	  data-toggle="tooltip" data-placement="top" title="{{page.previous.title |
	  strip_html | xml_escape}}">&larr; {{ page.collection }} precedente</a>
{% endif %}
{% if page.next.url %}
  <a class="page-link" href="{{ page.next.url | relative_url }}"
	  data-toggle="tooltip" data-placement="top" title="{{page.next.title |
	  strip_html | xml_escape}}">{{ page.collection }} seguente &rarr;</a>
{% endif %}
